.our-classes {
	padding: gutter('small');
	+ .our-classes {
		margin-top: gutter('large');
	}
	@include large {
		@include contain-column-width;
	}
}

.classes-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: calc( -1 * #{gutter('small')} / 2 );

	.class {
		@include reset-list;
		background: white;
		// background: color('orange','light');
		// border: 1px solid color('gray', 'lightish');
		padding: gutter('small');
		margin: calc(#{gutter('small')} / 2);
		width: 100%;

		@for $i from 1 through $orangesLength {
		    &:nth-of-type(#{$orangesLength}n+#{$i}) {
		      	background-color: nth($oranges, $i);
		    }
		} 

		p:last-child {
			margin-bottom: 0;
		}

	}

	@include large {
		.class {
			width: auto;
			min-width: 400px;
			flex-grow: 1;
		    flex-basis: 0;
			padding: gutter('large');
		}
	}
	@include xlarge {
	}
	@include xxlarge {
	}
}