.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list li:before {
	display: none;
}

.comment-body {
	margin-left: 65px;
}

.comment-author {
	// font-size: 16px;
	// font-size: 1rem;
	position: relative;
	z-index: 2;
}

.comment-author .avatar {
	height: 50px;
	left: -65px;
	position: absolute;
	width: 50px;
	margin-top: 7px;
}

.comment-author .says {
	display: none;
}

.comment-meta {
	margin-bottom: 1.5em;
}

.comment-metadata {
	// font-size: 10px;
	// font-size: 0.625rem;
	@include smaller-font;
}

.comment-metadata a.comment-edit-link {
	margin-left: 1em;
}

.comment-body {
	// font-size: 14px;
	// font-size: 0.875rem;
	margin-bottom: 4em;
}

.comment-reply-link {
	position: relative;
}

.comment-reply-link .icon {
	left: -2em;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}

.children .comment-author .avatar {
	height: 30px;
	left: -45px;
	width: 30px;
}

.no-comments,
.comment-awaiting-moderation {
	// font-size: 14px;
	// font-size: 0.875rem;
	font-style: italic;
}

.comments-pagination {
	margin: 2em 0 3em;
}