[class^="contact-"] {
	@include contain-column-width;
	padding: gutter('large') gutter('small') gutter('small');

	*:last-child {
		margin-bottom: 0;
	}
}

.contact-details {
	.phone,
	.email {
		display: block;
	}
}

.map {
	padding: gutter('small');
	margin-top: 1rem;
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
	background: gray;

	/* fixes potential theme css conflict */
	img {
	   max-width: inherit !important;
	}
}



