.events-grid {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.simple-header + & {
		margin-top: calc(#{gutter('large')} * 2);
	}

	.section-header {
		padding: gutter('small');
		flex-grow: 1;
	}

	.event {
		padding: gutter('small');
		max-width: 800px;
		margin: 0 auto;
	}

	.card-event {
		@include hover__circle-effect;
	}

	.event-info {
		background: color('orange','base');
		color: $color__text-main;
		padding: gutter('small');

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.date {
		margin: 2px gutter('small') 0 gutter('small');
		order: -1;
	}

	.entry-title {
		flex-grow: 1;
		margin-left: gutter('small');
		line-height: 1.3;
	}

	@include large {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: stretch;

		.section-header,
		.event {
			width: 30%;
		}

		.section-header {
			align-self: center;
		}
	}
}
