.hero-header + .home-widgets.feat-text-shape {
	margin-top: gutter('large');
}

.featured-text {
	padding: rem-calc(50px) gutter('large') rem-calc(50px) calc(#{gutter('large')} * 3);
	background-repeat: no-repeat;

	p:last-child {
		margin: 0;
	}

	.feat-text-shape & {
		&.bg-flower {
			background-image: url(../images/shape-flower-edge.svg);
		}
		&.bg-circles {
			background-image: url(../images/shape-circles-edge.svg);
		}
	}

	.entry-content & {
		&.bg-flower {
			background-image: url(../images/shape-flower.svg);
		}
		&.bg-circles {
			background-image: url(../images/shape-circles.svg);
		}		
	}
}


@include xxlarge {
	.featured-text {
		padding-top: rem-calc(100px);
		padding-bottom: rem-calc(100px);
	}

}