//reset
.events-grid {
  .event {
    padding: 0;
    max-width: none;
    width: auto;
    margin: 0;
  }
  .section-header {
    width: auto;
  }
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: gutter("small");
  align-items: stretch;
  padding: gutter("small");
}

@include medium {
  .events-grid {
    .section-header {
      grid-column: 1 / span 2;
    }
    .event {
      // grid-column: 2 / span 1;
      background: color("orange", "base");
    }
  }
}

@include xlarge {
  .events-grid {
    .section-header {
      grid-column: 1 / span 1;
    }
    .event {
      background: color("orange", "base");
    }
  }
}
