//reset
.therapies-grid {
	.therapy {
		padding: 0;
		width: auto;
	}
}

.therapies-grid {
	padding: gutter('small');
	display: grid;
	grid-template-columns: repeat(auto-fill, 1fr);
	grid-gap: gutter('small');
	grid-auto-flow: dense;

	.section-header {
		align-self: center;
		padding: 10px;
		margin: 2em 0;
		grid-column: 1 / -1;
	}

	.therapy {
		overflow: hidden;
	}

	.single-person & {
			grid-template-columns: repeat(auto-fill, minmax(rem-calc(215px), 1fr) );
		}

	@include medium {
		grid-template-columns: repeat(auto-fill, minmax(rem-calc(300px), 1fr) );
	}
	@include xxlarge {
		grid-template-columns: repeat(3, 1fr);
	}
}