// Reset
[class^="contact-"] {
	max-width: none;
	margin: 0;
	padding: 0;
}


// Grid
.container-contact {
	padding: gutter('large') gutter('small') gutter('small');
	display: grid;
	grid-row-gap: gutter('large');
}

@include large {
	.container-contact {
		grid-template-columns: 1fr 6fr 4fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"... form info ..."
			"... form address ...";
		grid-column-gap: gutter('large');
	}
	.contact-content {
		grid-area: form;
	}

	.contact-details {
		grid-area: info;
	}

	.contact-address {
		grid-area: address;
	}
}

@include xlarge {
	.container-contact {
		grid-template-columns: 2fr 5fr 4fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"... form info ..."
			"... form address ...";
	}
}

@include xxlarge {
	.container-contact {
		grid-template-columns: 3fr calc(#{$contain__max-width} / 2 + 8%) calc(#{$contain__max-width} / 2 - 25px) 2fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"... form info ..."
			"... form address ...";
		// justify-content: start;
		// justify-items: start;
	}
}