// Reset
.featured-text {
	padding-left: 0;
	padding-right: 0;
}


// Grid
.featured-text {
	display: grid;
	grid-template-columns: [shape-start] 2fr [text-start] 9fr [text-end] 1fr;
	* {
		grid-area: text;
		margin: 0;
	}

	.entry-content & {
		grid-template-columns: [shape-start] 2fr [text-start] 10fr [text-end];
	}
}

@include large {
	.featured-text { 
		grid-template-columns: [shape-start] 1fr [text-start] 9fr [text-end] 2fr;
		* {
			max-width: $contain__max-width;
		}

		.entry-content & {
			grid-template-columns: [shape-start] 2fr [text-start] 8fr [text-end] 2fr;
		}
	}
}

@include xlarge {
	.featured-text { 
		grid-template-columns: [shape-start] 1fr [text-start] 9fr [text-end] 3fr;
		* {
			max-width: 36rem;
		}
	}
}