// Reset
.our-classes {
	margin: auto;
	max-width: none;
}


// Grid
@include large {
	.our-classes {
		display: grid;
		grid-template-columns: [full-start] 1fr [content-start] 10fr [content-end] 1fr [full-end];

		.section-title {
			grid-column: content-start / content-end;
		}

		.classes-list {
			grid-column: full-start / full-end;
		}
	}	
}

@include xlarge {
	.our-classes {
		grid-template-columns: [full-start] 2fr [content-start] 8fr [content-end] 2fr [full-end];
	}
}

@include xxlarge {
	.our-classes {
		grid-template-columns: [full-start] 3fr [content-start] $contain__max-width [content-end] 3fr [full-end];
	}
}