// // Reset
.rates {
	max-width: none;
	margin: gutter('large') 0;
	padding: gutter('small') calc(#{gutter('small')} / 2);
	display: grid;
	grid-template-columns: [content-start] auto [content-end];
	ul {
		grid-column: content-start / content-end;
		max-width: $contain__max-width;
	}

	@include large {
		grid-template-columns: 1fr [content-start] 10fr [content-end] 1fr;
	}
	@include xlarge {
		grid-template-columns: 2fr [content-start] 8fr [content-end] 2fr;
	}
	@include xxlarge {
		grid-template-columns: [sidebar-start] 3fr [sidebar-end content-start] $contain__max-width [content-end] 3fr !important;
	}
}