// Reset

// Grid
.class-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "name name"
    "time teacher"
    "notice notice";
  justify-content: start;
  justify-items: start;

  .class-name {
    grid-area: name;
  }
  .class-notice {
    grid-area: notice;
  }
}

@include schedule-medium {
  // Reset
  .class-schedule {
    max-width: none;
    border: gutter("small") solid $color__background-body;
    // background-clip: content-box;
    // margin: gutter('small');
  }

  .class-container {
    .class-time,
    .class-teacher,
    .class-name,
    .class-notice,
    p {
      margin: 0 !important;
      width: auto;
      &:before {
        content: "";
        padding-right: 0;
      }
    }
  }

  // Grid
  .class-container {
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "name time teacher"
      "notice notice notice";
    grid-gap: 0 1rem;
  }
}

@include schedule-large {
  // Reset
  .class-schedule {
    max-width: none;
    margin: 0;
    padding-top: gutter("small");
  }
  .schedule-weekday {
    margin: 0 !important;
    padding: 0 !important;
    @include font-size__body;
  }
  .class {
    margin: 0;
    padding-bottom: 0;
    border: none;

    .class-time,
    .class-teacher,
    .class-name {
      margin: 0;
      width: auto;
      &:before {
        content: "";
        padding-right: 0;
      }
    }
  }

  // Grid
  .class-schedule {
    display: grid;
    grid-template-columns: [mon] 1fr [tue] 1fr [wed] 1fr [thu] 1fr [fri] 1fr [sat] 1fr;
    grid-template-rows:
      [days] auto [am6] min-content [am7] 0.5fr [am8] 0.5fr [am9] 0.5fr [am10] 0.5fr [am11] 0.5fr [noon] 0.5fr [pm1]0.5fr [pm2] minmax(
        0,
        auto
      )
      [pm3] minmax(
        0,
        auto
      ) [pm4] 0.5fr [pm5] 0.5fr [pm6] 0.5fr [pm7] 0.5fr [pm8] 1fr [pm9];
    grid-gap: gutter("small");
    align-items: stretch;
    justify-items: stretch;
    align-content: start;
    text-align: center;
    margin-top: gutter("large");
    @include smaller-font;

    // background: url('http://localhost:3000/wp-content/uploads/2019/02/home-hero-bw-compressor.jpg');
    background-position: center;
    background-size: cover;

    .class-name {
      @include font-size__body;
    }

    .class-teacher {
      order: 1;
    }
    .class-time {
      order: 2;
    }

    .entry-content + style + & {
      margin-top: 0;
    }
  }

  .schedule-weekday {
    color: color("white", "base");
  }

  [class*="-moon-day"] {
    grid-row: 2 / span 9;
    background-color: transparent;
    padding: 11rem gutter("small") gutter("small");
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(
      rgba(color("blue", "dark"), 0.9),
      rgba(color("blue", "dark"), 0) 55%
    );
    background-position: 0 0;
    background-size: cover;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: 60% 5rem;
      background-position: center 4rem;
    }
  }

  .new-moon-day:before {
    background-image: url(../images/moon-new.svg);
  }

  .full-moon-day:before {
    background-image: url(../images/moon-full.svg);
  }

  .class {
    .class-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: gutter("small");
      background: rgba(color("orange", "light"), 0.8);
      // @include hover {
      // 	background: rgba( color('orange','base'), .8 );
      // 	color: $color__text-main !important;
      // }
      .class-types {
        margin: 0 0 1rem;
      }
    }

    &.cancelled {
      .class-container {
        background: rgba(color("white", "base"), 0.8);
      }
    }
    &.same-time-front,
    &.same-time-back {
      font-size: 0.8em;
    }
    &.same-time-front {
      height: 60%;
      align-self: end;
    }
    &.same-time-back {
      height: 40%;
      .class-time {
        display: none;
      }
    }
  }

  .schedule-weekday {
    grid-row: days / am6;
  }

  [data-start="6:00 am"],
  [data-start="6:30 am"] {
    grid-row-start: am6;
  }
  [data-start="7:15 am"],
  [data-start="7:00 am"] {
    grid-row-start: am7;
  }
  [data-start="8:00 am"] {
    grid-row-start: am8;
  }
  [data-start="9:00 am"] {
    grid-row-start: am9;
  }
  [data-start="10:00 am"] {
    grid-row-start: am10;
  }
  [data-start="12:00 pm"],
  [data-start="12:15 pm"] {
    grid-row-start: noon;
  }
  [data-start="3:00 pm"],
  [data-start="3:30 pm"] {
    grid-row-start: pm3;
  }
  [data-start="4:00 pm"],
  [data-start="4:15 pm"] {
    grid-row-start: pm4;
  }
  [data-start="5:00 pm"] {
    grid-row-start: pm5;
  }
  [data-start="6:00 pm"] {
    grid-row-start: pm6;
  }
  [data-start="7:00 pm"] {
    grid-row-start: pm7;
  }
  [data-start="7:30 pm"] {
    grid-row-start: pm8;
  }

  [data-end="7:30 am"],
  [data-end="8:00 am"] {
    grid-row-end: am8;
  }
  [data-end="8:30 am"],
  [data-end="9:00 am"] {
    grid-row-end: am9;
  }
  [data-end="9:30 am"],
  [data-end="9:45 am"],
  [data-end="10:00 am"] {
    grid-row-end: am10;
  }
  [data-end="10:30 am"],
  [data-end="11:00 am"] {
    grid-row-end: am11;
  }
  [data-end="11:30 am"],
  [data-end="12:00 pm"] {
    grid-row-end: noon;
  }
  [data-end="12:30 pm"],
  [data-end="1:00 pm"] {
    grid-row-end: pm1;
  }
  [data-end="1:30 pm"],
  [data-end="2:00 pm"] {
    grid-row-end: pm2;
  }

  [data-end="7:15 pm"],
  [data-end="7:30 pm"],
  [data-end="8:00 pm"] {
    grid-row-end: pm8;
  }
  [data-end="8:30 pm"],
  [data-end="9:00 pm"] {
    grid-row-end: pm9;
  }

  [data-col="lun"],
  [data-col="mon"] {
    grid-column: mon / tue;
  }
  [data-col="mar"],
  [data-col="tue"] {
    grid-column: tue / wed;
  }
  [data-col^="mi"],
  [data-col="wed"] {
    grid-column: wed / thu;
  }
  [data-col="jue"],
  [data-col="thu"] {
    grid-column: thu / fri;
  }
  [data-col="vie"],
  [data-col="fri"] {
    grid-column: fri / sat;
  }
  [data-col="sá"],
  [data-col="sat"] {
    grid-column: sat / span 1;
  }
}
