.icon-text {
	padding: gutter('small');
	@include contain-column-width;
	ul {
		margin: gutter('small');
		@include reset-list;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	li {
		text-align: center;
		padding: gutter('large') 0;
		border-bottom: 1px solid color('gray','lightish');
	}
	.icon {
		margin: 0;
		text-align: center;

		img {
			display: inline;
			max-width: 25vw;
		}
	}
	p {
		margin: 0;
	}
}


@include medium {
	.icon-text {
		li {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			text-align: left;
		}
		.icon {
			margin: 0 gutter('large');
			img {
				max-width: rem-calc(60px);
			}
		}
	}
}