.home-widgets #sb_instagram {
	margin-top: -10px;

	a {
		@include hover__circle-effect;
	}
}

.home-widgets #sb_instagram #sbi_load {
	.sbi_follow_btn a,
	.sbi_load_btn {
		color: $color__text-main !important;

		padding: 0.75rem 2rem !important;
		@include smaller-font;
		line-height: 1 !important;
		transition: background 250ms ease-in-out, 
                transform 150ms ease;
	    -webkit-appearance: none;
	    -moz-appearance: none;

	}
	.sbi_follow_btn a {
		background: $color__background-button !important;
		@include hover {
			background: $color__background-button-hover !important;
			box-shadow: none !important;
		}
	}
	.sbi_load_btn {
		background: color('gray','lightish');
		@include hover {
			background: $color__background-button-hover !important;
			box-shadow: none !important;
		}
	}
}