.widget_mc4wp_form_widget {
	background: color('orange', 'light');
	margin: gutter('small');
	padding: gutter('large') gutter('small');
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.mc4wp-form {
	.fields {
		margin: 0;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: flex-start
	}

	label {
		@include smaller-font;
	}

	input[type="submit"] {
		margin-top: gutter('small');
		background: color('orange', 'dark');
		&:hover {
			background: color('orange', 'base');
		}
		&:active,
		&:focus {
			background: color('orange', 'base');
			// outline: 1px solid #fff;
		 //    outline-offset: -4px;
		}
	}

	@include medium {
		.fields {
			flex-direction: row;
			align-items: stretch;
			position: relative;
			margin-top: 2rem;
			// justify-content: center;
			* {
				margin: 0 gutter('small');
			}
		}
		label {
			position: absolute;
			top: -1rem;
		}
		input[type="submit"] {
			margin-top: 0;
		}
		
	}
}