.moon-next {
	background: color('orange', 'base');
	padding: gutter('small');
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: gutter('large');

	p {
		margin: gutter('small');
		&.first {
			order: 1;
			border-bottom: 1px solid color('orange', 'light');
			padding-bottom: gutter('small');
		}
		&.last {
			order: 2;
		}
	}
	time {
		display: block;
		font-weight: bold;
	}

	@media only screen and (min-width: 376px) {
		float: left;
		margin: 0 gutter('large') gutter('large') 0;
	}
}