.name_directory_startswith {
	margin: 0 0.25rem;
	&:first-child {
		margin-left: 0;
	}
}
.name_directory_active {
	color: $color__text-main !important;
	text-decoration: none;
}



.name_directory_total,
.name_directory_name_box {
	margin-bottom: gutter('large');
}

.name_directory_total {
	background: color('gray', 'lightish');
	padding: gutter('small');
	@include border-radius(3px);

}

.name_directory_name_box {
	border-bottom: 1px solid color('gray', 'lightish');
	padding-bottom: gutter('large');
	&:last-child {
		border: none;
		padding-bottom: 0;
	}
}

.name_directory_index {
	form {
		margin: gutter('large') 0;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: flex-start
	}

	input[type="submit"] {
		margin-top: gutter('small');
	}

	@include medium {
		form {
			flex-direction: row;
			align-items: stretch;
			position: relative;
			margin-top: 2rem;
			// justify-content: center;
			* {
				margin: 0 gutter('small');
			}
		}
		input[type="text"] {
			margin-left: 0;
		}
		input[type="submit"] {
			margin-top: 0;
		}
	}
}