.sticky {
	display: block;
}

.post,
.page {
	// margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: 1.5em 0 0;
}

.entry-meta {
	margin-bottom: 0;
}

.page-links {

}

.toc-navigation {
	// border: 1px solid color('gray','lightish');
	// background: color('white','base');
	// padding: 1rem calc(#{gutter('small')} * 2);
	
	margin-bottom: gutter('large');
	align-self: start;
	@include large {
		padding-top: calc(#{gutter('large')} * 2);
	}
}
.toc {
	margin-bottom: 0;

}


.section-header {
	text-align: center;
	.section-title {
		margin: 0;
	}
	p {
		margin-bottom: 0;
	}
}