.rates {
	@include contain-column-width;
	margin-top: gutter('large');
	margin-bottom: gutter('large');
	padding: gutter('small');
	text-align: center;

	ul {
		@include reset-list;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	li {
		background: white;
		// border: 1px solid color('gray', 'lightish');
		padding: 1rem gutter('small');
		margin: calc(#{gutter('small')} / 2);
		width: 100%;

		@for $i from 1 through $orangesLength {
		    &:nth-of-type(#{$orangesLength}n+#{$i}) {
		      	background-color: nth($oranges, $i);
		    }
		}

	}
	.rate-description {
		margin: 1rem 0 0;
	}
}

@include medium {
	.rates {
		li {
			width: auto;
			min-width: 200px;
			flex-grow: 1;
		    flex-basis: 0;
		}
	}
}