.class-schedule {
  padding: gutter("large") gutter("small") gutter("small");
  @include contain-column-width;
}

.schedule-weekday {
  margin: 0;
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.class-content {
  display: none;
}

//General Schedule
.class {
  margin: gutter("small") 0;
  padding-bottom: gutter("small");
  border-bottom: 1px solid color("gray", "base");

  .class-name {
    margin: 0;
  }
  .class-teacher {
    @include schedule-separator;
    // order: 2;
  }
  .class-time {
    // order: 1;
  }

  .class-notice {
    display: inline-block;
    background: color("red", "base");
    padding: 3px 10px;
    color: color("white", "base");
    @include smaller-font;
    // @include border-radius(5px);
  }

  &.pay-separate {
    .class-name:after {
      content: "*";
      vertical-align: super;
      @include smaller-font;
      color: color("red", "base");
      // line-height: 0.8;
    }
  }

  &.cancelled {
    opacity: 0.3;
    .class-teacher {
      // display: none;
    }
    .class-container {
      @include hover {
        color: $color__text-main;
        @include disabled-link-cursor;
      }
    }
  }
}

[class*="-moon-day"] {
  background-color: color("blue", "base");
  color: color("white", "base");
  padding: 5px 10px 5px 2.25rem;
  background-size: 1.5rem 1.5rem;
  background-position: 5px center;
  background-repeat: no-repeat;
  // @include border-radius(5px);
}

.new-moon-day {
  background-image: url(../images/moon-new.svg);
}

.full-moon-day {
  background-image: url(../images/moon-full.svg);
}

.class-types {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //   padding-bottom: 1rem;
  li {
    padding: 0 0.5em;
    margin: 0.25em;
    border-radius: 5px;
    background: color("orange", "light");
    font-size: 12px;
    text-transform: uppercase;
  }
}

@include medium {
  .class-container {
    display: flex;
    align-items: baseline;
    * {
      margin: 0 1rem;
    }
    .class-types {
      margin: 0;
    }
    .class-name {
      width: 30%;
      max-width: rem-calc(150px);
    }
    .class-time {
      width: 36%;
      max-width: rem-calc(150px);
    }
    .class-teacher {
      &:before {
        content: "";
        padding: 0;
      }
    }
  }
}
