.therapies-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 0;

	.therapy {
		padding: gutter('small');
		overflow: hidden;

	}

	.single-person & {
		margin: 0 calc( -1 *  #{gutter('small')});
	}

	@include medium {
		.therapy {
			max-height: 300px;
		}
	}

	@include xlarge {
		.therapy {
			width: 50%;
		}
	}
}


.schedule-appointment {
	display: flex;
	justify-content: center;
	margin-bottom: gutter('large');
	text-align: center;

	h2 .phone {
		display: block;
	}

	p:nth-last-child(2) {
		margin-bottom: 0;
	}

	ul {
		@include reset-list;
	}

	.therapies-grid + & {
		margin-top: gutter('large');
	}
}