button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	display: inline-block;
	border: none;
	padding: 0.75rem 2rem;
	margin: 0;
	text-decoration: none;
	background: $color__background-button;
	@include smaller-font;
	line-height: 1;
	cursor: pointer;
    text-align: center;
    @include border-radius(4px);
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $color__text-main;
    
	&:hover {
		background: $color__background-button-hover;
	}

	&:active,
	&:focus {
		background: $color__background-button-focus;
		box-shadow: 0 5px 7px rgba(black, .15);
		// outline: 1px solid #fff;
	 //    outline-offset: -4px;
	}

	.classes-list & {
		background: color('orange','dark');
		&:visited {
			color: $color__text-main;
		}
		&:hover {
			background: darken(color('orange','dark'), 5%);
			color: $color__text-main;
		}
		&:active,
		&:focus {
			background: darken(color('orange','dark'), 5%);
			color: $color__text-main;
			box-shadow: 0 5px 7px rgba(black, .15);
		}
	}
}