// Reset
.blog-header {
	max-width: none;
	margin: 0;
	padding: 0 gutter('small');
	
	.article-header {
		margin: gutter('large') 0;
	}
}



// Grid
.blog-header {
	display: grid;
	grid-template-columns: 1fr 1fr 6fr 2fr 1fr 1fr;

	.article-header {
		grid-column: 1 / span 6;
	}
}

@include large {
	.blog-header {
		
		.article-header {
			grid-column: 2 / span 4;
			margin-top: gutter('large');
		}

		.upcoming-classes {
			grid-column: 4 / span 2;
			justify-self: end;
		}
	}
}

@include xlarge {
	.blog-header {
		.article-header {
			grid-column: 3 / span 2;
			&::after {
				left: calc(#{$margin__align-wide});
				width: rem-calc(250px);
			}
		}
	}
}

@include xxlarge {
	.blog-header {
		grid-template-columns: 2fr 1fr $contain__max-width 1fr 2fr;
		.upcoming-classes {
			grid-column: 3 / span 2;;
		}
		.article-header {
			// margin-top: 1rem;
		}
	}

}