// Reset
.event-intro {
	max-width: none;
	margin: gutter('large') 0 0 0;
}

.event-image {
	width: auto;
	img {
		max-height: none;
	}
}

.event-details {
	[class^="event-"] {
		margin: 0;
	}
}


// Grid
.event-details {
	display: grid;
	grid-gap: gutter('small');
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); // auto so it doesn't spread
	justify-content: start;
	align-content: start;
}

.event-summary {
	display: flex;
	p {
		margin: auto
	}
}

@include medium {
	.single-event .entry-content {
		grid-template-columns: [content-start] 1fr 10fr 1fr [content-end];
	}
}

@include large {
	.event-intro {
		display: grid;
		grid-template-columns: [img-start] 3fr [meta-start] 1fr [img-end summary-start] 7fr [summary-end meta-end] 1fr;
		grid-template-rows: [img-start summary-start] 1fr [summary-end meta-start] auto [img-end] auto [meta-end];
	}
	.event-image {
		grid-area: img;
		img {
			height: 100%;
			max-height: 350px;
		}
	}
	.event-summary {
		grid-area: summary;
	}
	.event-details {
		grid-area: meta;
		grid-gap: gutter('large');
		grid-template-columns: repeat(auto-fit, minmax(150px, auto)); // auto so it doesn't spread
	}

	.single-event .entry-content {
		grid-template-columns: [sidebar-start] 3fr [sidebar-end content-start] 8fr [content-end] 1fr;
		
	}

	.has-toc.single-event .entry-content {
		grid-template-columns: [sidebar-start] 4fr [sidebar-end content-start] 8fr [content-end];
		.toc-navigation {
			// grid-column: sidebar-start / sidebar-end;
			// grid-row: 1 / 1000;
			// margin: 0 gutter('large') 0 gutter('small');
			max-width: rem-calc(200px);
		}
		
	}
}

@include large-only {
	.has-toc.single-event .entry-content {
		.toc-navigation {
			margin: 0 gutter('large') 0 gutter('small');
			max-width: rem-calc(200px);
		}
		
	}
}

@include xlarge {
	.single-event .entry-content,
	.has-toc.single-event .entry-content {
		grid-template-columns: [sidebar-start] 3fr [sidebar-end] 1fr [content-start] 7fr [content-end] 1fr !important;
		.toc-navigation {
			// margin: 0 auto !important;
			margin: 0 auto;
			// max-width: none;
		}
	}
}