	@include large {
		.site-footer {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: repeat(2 auto);
			grid-gap: 1.5rem gutter('small');
		}
		.footer-logo {
			grid-row: 1 / span 2;
			align-self: center;
			display: block;
			a,img {
				display: block;
			}
		}
		.footer-navigation {
			// background: blue;
		}
		.footer-info {
			// background: green;
		}
	}
