// Reset
.header-text {
	position: relative;
	top: auto;
	width: auto;

	// reset flex?
	text-align: left;
	display: block;
	height: auto;
	max-height: none;
	.entry-title,
	.page-title {
		max-width: none;
		margin: 0;
	}
	.home & {
		top: auto;
		height: auto
	}
}
.header-logo {
	margin: auto;
}
.upcoming-classes {
	margin: 0;
	position: fixed;
	// right: 1rem;
	bottom: 0;

	right: 50%;
	transform: translateX(50%);
	.upcoming-classes-content {
		margin: 0;
		// width: 21em;
		// max-width:100%;
	}
}


// Grid
.hero-header {
	display: grid;
	grid-template-columns: 1fr 1fr 6fr 2fr 1fr 1fr;
	grid-template-rows: minmax(50vw, auto) 15vw auto;
	justify-items: stretch;
	align-items: stretch;
}

.header-image {
	grid-column: 1 / span 12;
	grid-row: 1 / span 2;
	margin-bottom: 10vw;
	height: 100%;
}

.header-text {
	grid-column: 2 / span 3;
	grid-row: 1 / span 1;
	align-self: center;
	padding-left: 4vw;
	margin: 0;
}

.header-color-block {
	background: #0075C9;
	mix-blend-mode: multiply;
	opacity: .5;
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
	height: 100%;
}

@media screen and (max-height: 600px) {
	.upcoming-classes {
		display: none;
	}
}

@include medium {
// 	// Grid
	.upcoming-classes {
		right: 1rem;
		transform: none;
	}
}

@include large {
	.hero-header {
		grid-template-rows: rem-calc(115px) 65vh; //Change this to use widget height
	}
	.header-text {
		grid-row: 2 / span 1;
		margin: gutter('large') 0 calc(#{gutter('large')} * 2);
	}
}

@include xlarge {
	.hero-header {
		grid-template-rows: rem-calc(110px) 50vh;
	}
}

@include xxlarge {
	.hero-header {
		grid-template-columns: 2fr 1fr $contain__max-width 1fr 2fr;
	}

}

.home {
	.hero-header {
		grid-template-rows: auto 75vw 15vw auto;
	}
	.header-branding {
		grid-column: 1 / span 12;
		grid-row: 1 / span 1;		
	}
	.header-image {
		grid-row: 2 / span 2;
		height: 100%;
	}
	.header-text {
		grid-row: 2 / span 1;
	}
	.header-color-block {
		grid-row: 2 / span 2;
	}

	@include medium {
		.hero-header {
			grid-template-rows: auto 45vw 12vw auto;
		}
		.header-image {
			grid-row: 2 / span 2;
		}
		.header-text {
			grid-row: 2 / span 1;
		}
		.header-color-block {
			grid-row: 2 / span 2;
		}
	}

	@include large {
		.hero-header {
			grid-template-rows: auto 60vh;
		}
		.header-image {
			grid-row: 2 / span 1;
		}
		.upcoming-classes {
			grid-row: 1 / span 1;
		}
	}

	@include xxlarge {
		.hero-header {
			grid-template-rows: auto 60vh;
		}

	}
}