.upcoming-classes {
	display: block;
}


@include medium {

	.site-header {
		position: fixed;
		width: 100%;
		z-index: 5;
	}

	.site-content {
		position: relative;
		padding-top: $size_site-header;	
	}

}