.upcoming-classes {
  z-index: 3;

  button {
    position: absolute;
    display: none;
  }

  [class^="notice-moon-"] {
    // margin: 0 10px;
    grid-column: 1 / -1;
    background-color: color("blue", "base");
    color: color("white", "base");
    background-size: 1.5rem 1.5rem;
    background-position: gutter("small") center !important;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 2.5rem !important;
    min-height: calc(#{gutter("small")} * 2 + 1.5rem);
    p {
      margin: 0;
    }
    a {
      display: block;
    }
  }
  .notice-moon-new {
    background-image: url(../images/moon-new.svg);
  }

  .notice-moon-full {
    background-image: url(../images/moon-full.svg);
  }

  .upcoming-classes-content {
    background: color("orange", "base");

    box-shadow: 0 5px 7px rgba(black, 0.5);

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: gutter("small");

    grid-template-areas:
      "heading 	heading"
      "class 		date"
      "link 		link";
  }

  .widget-title,
  .date,
  .upcoming-class {
    padding: 0 gutter("small");
  }

  .widget-title {
    grid-area: heading;
    margin-top: gutter("small");
  }

  .upcoming-class {
    .class-name {
      margin: 0;
    }
    .class-time {
      + .class-teacher {
        @include schedule-separator;
      }
    }
  }

  .more-classes {
    grid-area: link;
    position: relative;
    display: block;
    border-top: 1px solid $color_background-panel-buttons;
    padding: gutter("small");
    color: $color__text-main;
    text-decoration: none;

    &:after {
      @include icon-basic;
      content: "\e805"; //'\e808';
      background: $color_background-panel-buttons;
      color: $color__text-main;
      text-decoration: none;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0 1rem;

      @include font-size__h5;
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include hover {
      background: $color_background-panel-buttons;
      &:after {
        background: $color_background-panel-buttons-hover;
      }
    }
  }
}

.date {
  display: flex;
  flex-direction: column;

  text-align: center;
  line-height: 1;
}
