// Reset
@include large {
	.content-area,
	.page-summary,
	.bio-summary,
	.entry-content,
	.comments-area {
		max-width: none;
		margin: 0;
	}
}

.content-area,
.page-summary,
.bio-summary,
.entry-content,
.comments-area {
	display: grid;
	grid-template-columns: [content-start] auto [content-end];

	> * {
		// grid-column: 1 / span 5;
		grid-column: content-start / content-end;
	}
}

.content-area,
.entry-content,
.comments-area {
	> * {
		max-width: $contain__max-width;
	}	
}

.alignfull,
.alignwide {
	margin: gutter('large') 0;
	width: auto;
}

.toc-navigation {
	align-self: start;
}


@include large {
	.content-area,
	.page-summary,
	.bio-summary,
	.entry-content,
	.comments-area {
		grid-template-columns: 1fr [content-start] 10fr [content-end] 1fr;	
	}

	.has-toc {
		.entry-content,
		.comments-area {
			grid-template-columns: [sidebar-start] 4fr [sidebar-end content-start] 8fr [content-end];
		}
		.toc-navigation {
			grid-column: sidebar-start / sidebar-end;
			grid-row: 1 / 1000;
			margin: 0 gutter('large') 0 gutter('small');
			max-width: rem-calc(200px);
		}
	
	}

}

@include xlarge {
	.content-area,
	.page-summary,
	.bio-summary,
	.entry-content,
	.comments-area {
		grid-template-columns: 2fr [content-start] 8fr [content-end] 2fr;
	}

	.page-summary,
	.bio-summary {
		> * {
			margin: gutter('large') 0 gutter('large') $margin__align-wide;
		}
	}

	.has-toc {
		.entry-content,
		.comments-area {
			grid-template-columns: [sidebar-start] 3fr [sidebar-end content-start] 8fr [content-end] 1fr;
		}

	}

	.alignwide {
		margin: gutter('large') $margin__align-wide;
	}

	.alignfull {
		margin: gutter('large') $margin__align-full;
	}
}

@include xxlarge {
	.content-area,
	.page-summary,
	.bio-summary,
	.entry-content,
	.comments-area {
		grid-template-columns: [sidebar-start] 3fr [sidebar-end content-start] $contain__max-width [content-end] 3fr !important;
	}
	.has-toc .toc-navigation {
		margin: 0 auto;
	}
}