// @include medium {
// 	.offcanvas-panel {
// 		transform: translateX(-100%);

// 		display: grid;
// 		grid-template-columns: $size_site-header 1fr;
// 		align-items: center;
// 		grid-gap: gutter('large');

// 		&.is-open {
// 			transform: translate3d(0, 0, 0);
// 		}
// 	}

// 	#close-panel {
// 		position: relative;
// 		top: auto;
// 		right: auto;
// 		text-align: center;
// 		align-self: stretch;

// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 	}
// 	.panel-container {
// 		display: flex;
// 		justify-content: center;
// 		margin-top: 0;
// 	}
// }