// Reset
.single-person {
	.profile-image {
		// float: none;
		// width: auto;
		// margin: 0 0 gutter('large') 0;
		// margin-left:
	}
}

@include xlarge {
	.single-person {
		.profile-image {
			margin-left: $margin__align-wide;
			max-width: 60%;
		}
	}
}