// Reset
.team {
	max-width: none;
	margin: 0;
}


// Grid
.team {
	display: grid;
	grid-template-columns: [content-start] auto [content-end];
}

.founders,
.support-staff {
	grid-column: content-start / content-end;
	max-width: $contain__max-width;
}

.people {
	margin: 0 calc( -1 * #{gutter('small')} / 2 );
}


@include large {
	.team {
		grid-template-columns: 1fr [content-start] 10fr [content-end] 1fr;
	}
}

@include xlarge {
	.team {
		grid-template-columns: 2fr [content-start] 8fr [content-end] 2fr;
	}
}

@include xxlarge {
	.team {
		grid-template-columns: [sidebar-start] 3fr [sidebar-end content-start] $contain__max-width [content-end] 3fr;
	}
}