// Reset
.therapy-intro {
	max-width: none;
	margin: gutter('large') 0 0 0;
	background: transparent;
}



// Grid
.therapy-intro {
	padding: gutter('small');
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "intro";
}

.therapy-image,
.therapy-summary {
	grid-area: intro;
}

.therapy-image {
	background: color('black','base');
}

@include large {
	.therapy-intro {
		grid-template-columns: 1fr [summary-start] 10fr [summary-end] 1fr;
		grid-template-areas: "intro intro ...";
	}
	.therapy-summary {
		grid-column: summary-start / summary-end;
		padding-left: 0;
	}
}

@include xlarge {
	.therapy-intro {
		grid-template-columns: 2fr [summary-start] 8fr [summary-end] 2fr;
	}
}

@include xxlarge {
	.therapy-intro {
		grid-template-columns: 3fr [summary-start] $contain__max-width [summary-end] 3fr;
	}
}