$colors: (
 'gray': (
   base:       #eee,
   // dark:    #787A7B,
   light:      #FAFAFA,
   lightish: #ebebeb,
 ),
 'black': (
   base: 	#000,
   trans: 	rgba(0,0,0,.5),
 ),
 'white': (
   base: 	#fff,
   trans: 	transparentize(#fff, .5)
 ),
 'orange': (
   dark:    #FF9E18,
   base:    #FFB600,
   light:   #FFCD00,
   chakra:  #FF6C0E,
 ),
 'yellow': (
 	base: #FFE800, //inner sun
   dark: #FFDD00, // inner rays
 ),
 'blue': (
   dark: #0F206C,
   base: #00269A,
   medium-light: #0075C9,
   light: #00B2E3,
 ),
 'purple': (
   base: #5C0F8B,
 ),
 'green': (
   base: #80BC00,
 ),
 'red': (
   base: #CE0E2D,
 ),
 'social': (
   facebook:	#3c5a9a,
   twitter: 	#55acee,
   google: 		#de4b39,
   reddit: 		#cee3f8,
   linkedin: 	#007bb5,
   youtube: 	#cc181e,
 )
);

@function color($color-name, $tone: base) {
    @return map-get(map-get($colors, $color-name), $tone);
}

$rainbow: color('red','base'), color('orange','chakra'), color('yellow','base'), color('green','base'), color('blue','base'), color('purple','base');

$oranges: color('yellow','dark'), color('orange','light'), color('orange','base'), color('orange','light');

$orangesLength: length($oranges);




$color__background-body: color('gray', 'light');
$color__background-header: color('white', 'base');
$color__background-footer: color('orange', 'dark');

$color__background-panel: color('orange', 'base');
$color_background-panel-buttons: color('orange', 'light');
$color_background-panel-buttons-hover: color('yellow', 'dark');


$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: color('orange', 'base');
$color__background-button-hover: color('orange', 'light');
$color__background-button-focus: color('yellow', 'dark');

$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #404040;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: color('orange', 'base');
$color__link-visited: color('orange', 'base');
$color__link-hover: color('orange', 'light');

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;

$color__border-input: #ccc;
$color__border-abbr: #666;

$element-shadow: 1px 0 5px 0 rgba(0,0,0,0.15);
