$size__site-main: 100%;
$size__site-sidebar: 25%;

$size_site-header: 78px;//90px;

$gutter: (
	'small': 10px,
	'large': 1.5rem,
);

@function gutter($breakpoint) {
    @return map-get($gutter, $breakpoint);
}

// $hero-height: 75vw;
// $hero-max-height: 75vh;
$hero-height: (
	'small'			: 65vw,
	'medium'		: 45vh,
	'home-small'	: 75vw,
	'home-medium'	: 75vh,	
);

@function hero-height($breakpoint) {
    @return map-get($hero-height, $breakpoint);
}

$hero-branding-height: (
	'small': 6rem,
	'medium': 7.5rem,
	'large': 8.5rem,
);

// $hero-branding-height: 7.5rem;

$contain__max-width: 40rem;

$upcoming-widget__max-width: 21em;

$boxes-grid_template-columns: (
	'small': repeat(auto-fill, minmax(rem-calc(350px), 1fr) ),
	'xxlarge': repeat(auto-fill, minmax(rem-calc(400px), 1fr) ),
);
@function boxes-grid-columns($breakpoint) {
    @return map-get($boxes-grid_template-columns, $breakpoint);
}



// For gutenberg alignment
$gutenberg__full-width: calc( 100vw - #{$size_site-header});
$gutenberg__content-width: calc( #{$gutenberg__full-width} * 0.83 - 20px );

$margin__align-wide: calc( #{$gutenberg__full-width} * .08 * -1);
$margin__align-full: calc( #{$gutenberg__full-width} * .16 * -1);