$font__main: 'Fira Sans', sans-serif;
$font__heading: 'Yeseva One', 'Fira Sans', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__base-size: 18;

$font__line-height-body: 1.5;
$font__line-height-heading: 1.2;
$font__line-height-pre: 1.6;


// Variables to use with fluid type mixin
$font__min_width: 320px;
$font__max_width: 1200px;
$font__min_font: 16px;
$font__max_font: 24px;
$font__mod_1: 1.2; // mobile
$font__mod_2: 1.333; // desktop Golden Ratio
$font__mod_3: 1.414; // H1 Golden Ratio

$font__min_smaller_font: 14px;
$font__max_smaller_font: 18px;