.banner {
	position: relative;
	display: block;
	background: color('black','base');

	height: 100%;
	overflow: hidden;

	@include hover__circle-effect;
}

.banner-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
}

.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	color: color('white', 'base');
	text-align: center;
	z-index: 2;

	@include medium {
		width: 80%;
	}

	.person > .banner & {
		top: 75%;
	}
}