@include medium {
	.main-navigation {
		width: 100%;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
			writing-mode: vertical-rl;
			transform: rotate(180deg);
			padding-top: 0;	
			width: auto;			
		}
		.menu-item {
			position: relative;
			padding: 0.5rem 0;
		}
		#toggle-menu {
			&:after {
				@include icon-basic;
				content: '\e803';
				margin-top: 0.25rem;
				margin-left: 0.1rem;
			}
		}
	}

	.social-media-navigation {
		align-items: flex-end;
		ul {
			flex-direction: column;
		}
		.menu-item {
			padding: 0.25rem 0;
		}
	}
}