@include medium {
	.language-switcher-navigation {
		margin-top: 1rem
	}

	.menu .menu-item {
		position: relative;
		.current-language {
			&:after {
				@include icon-basic;
				content: '\e803';
				margin-top: 0.25rem;
				margin-left: 0.1rem;
			}
		}
		.language-menu {
			writing-mode: horizontal-tb;
			top: calc( #{gutter('large')} / 4);
			right: gutter('large');
			// padding: calc(#{gutter('small')} / 2) gutter('small');
			li {
				padding: 0.15rem .5rem;
			}
		}
	}
}
