.language-switcher-navigation {
	.lang-item {
		text-transform: uppercase;
		position: relative;
		&::after {
			content: "|";
			position: absolute;
			right: -0.15rem;
			top: 50%;
			transform: translateY(-50%);
		}
		&:last-child::after {
			content: none;
		}
	}
	.current-lang a {
		color: $color__link;
	}
}


// flyout
.menu .menu-item {
	.current-language {
		position: relative;
		display: flex;
		&:after {
			@include icon-basic;
			content: '\e808';
			margin-left: 0.25rem;
			font-size: .8em !important;
			vertical-align: text-top;
		}
	}

	.language-menu {
		position: absolute;
		flex-direction: column;
		background: color('orange','light');
		padding: gutter('small') calc(#{gutter('small')} / 2);
		top: gutter('large');
		@include border-radius(4px);
		z-index: 2;

		// For show/hide
		visibility: hidden;
		overflow: hidden;
		height: 0;

		li {
			padding: 0.15rem .5rem;
		}

	}


	.current-lang {
		a:before {
			@include icon-basic;
			content: '\e80e';
			margin-right: 0.1rem;
			font-size: .8em !important;
		}	
	}

	&.active {
		.language-menu {
			visibility: visible;
			height: auto;
		}
	}
}