a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	.site-header & {
		color: $color__text-main;
		@include hover {
			color: $color__link;
		}
	}

	// .upcoming-classes & {
	// 	color: color('yellow','base');
	// 	text-decoration: none;
	// 	@include hover {
	// 		color: color('white','base');
	// 	}
	// }

	.offcanvas-panel &,
	.language-menu & {
		color: $color__text-main;
		text-decoration: none;
		@include hover {
			color: color('white','base');
		}
	}
	.offcanvas-panel .active > & {
		color: color('white','base');
	}
	
	.site-footer & {
		color: color('yellow','base');
		@include hover {
			color: color('white','base');
		}
	}

	&#close-panel {
		background: $color_background-panel-buttons;
		color: $color__text-main;
		text-decoration: none;
		@include hover {
			background: $color_background-panel-buttons-hover;
		}
	}

	.class-schedule .class > & {
		color: $color__text-main;
		text-decoration: none;
		@include hover {
			color: $color__link;
		}
	}	
}