.site-navigation-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-navigation,
.language-switcher-navigation,
.social-media-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;

	/* Un-style buttons */
	button {
		display: inline-block;
		border: none;
		padding: 0;
		margin: 0;
		text-decoration: none;
		background: transparent;
		color: inherit;
		cursor: pointer;
		transition:
			background 250ms ease-in-out,
			transform 150ms ease;
		-webkit-appearance: none;
		-moz-appearance: none;

		&:hover,
		&:focus {
			background: transparent;
		}

		&:focus {
			outline: 1px solid transparent;
			outline-offset: -4px;
		}

		&:active {
			transform: scale(0.99);
		}
	}
	.menu-item-has-children > button,
	.menu-item-has-children > a,
	.menu-more-toggle {
		position: relative;
		display: flex;
		&:after {
			@include icon-basic;
			content: '\e808';
			position: relative;
			margin-left: 0.25rem;
			font-size: .8em !important;
		}
	}
	.menu-item-has-children > a:hover {
		&:after {
			content: '\e807'; //CHANGE THIS
		}
	}
	// All lists
	.menu {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		padding: 0;
		margin: 0;
		justify-content: flex-end;
		align-items: center;
		@include reset-list;

		// All links
		a {
			position: relative;
			display: block;
			text-decoration: none;
		}

		> a {
			line-height: 2rem;
		}
	}

	.menu-item,
	.lang-item {
		position: relative;
		padding: 0 0.5rem;
		text-align: center;
		
		&.language-switcher-navigation {
			padding: 0;
		}
	}

	.sub-menu {
		@include reset-list;
		display: none;
		position: absolute;
		left: 0;
		margin-top: -1px;
		flex-direction: column;
		align-items: start;
		background: color('white','base');
		text-align: left;
		min-width: 200px;
		box-shadow: 1px 5px 5px 0 rgba(0,0,0,.15);
		padding-top: 0.3rem;
		.menu-item {
			width: 100%;
			text-align: left;
			padding: 0 0.5rem;
		}
		a {
			padding: 0.5rem 0;
			line-height: 1.2;
		}
	}

	.menu {
		> .menu-item {
			&:hover {
				> a {
					color: $color__link;
				}
				.sub-menu {
					display: flex;
				}
			}
		}
	}




	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


.footer-navigation {
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		@include reset-list;
	}
	li {
		padding: 0 0.5rem;
	}
}

// Hide certain menus at small
// @include small-only {
.main-navigation {
	.large-menu,
	.medium-menu {
		display: none;
	}
}
// }


@include medium {
	.main-navigation {
		.small-menu {
			display: none;
		}
		.medium-menu {
			display: flex;
		}
	}
	.main-navigation,
	.language-switcher-navigation {
		// justify-content: center;
	}
}

@include large {
	.main-navigation {
		.medium-menu {
			display: none;
		}
		.large-menu {
			display: flex;
		}

	}
}


@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul,
	.language-switcher-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
