.panel-navigation {
	
	//Reset all lists
	ul {
		@include reset-list;
	}

	.sub-menu {
		margin-left: gutter('large');

		// For show/hide
		visibility: hidden;
		overflow: hidden;
		height: 0;

		a {
			display: block;
			@include hover {
				padding-left: calc( #{gutter('large')} * 2 );
			}
		}
	}

	.menu-item {
		position: relative;

		&.panel-logo {
			max-width: 230px;
			margin-left: calc(-#{gutter('large')} / 2);
			margin-bottom: gutter('large');
		}

		a {
			display: block;
			@include animation-transition(0.3s);
		}

		&.active {
			a {
				padding-left: gutter('large');
			}
			.sub-menu {
				visibility: visible;
				height: auto;
			}
		}
	}
}

@include large {
	.panel-navigation {
		.menu > .menu-item {
			> a {
				display: block;
				width: 320px;
			}
		}
		.sub-menu {
			position: absolute;
			top: 0;
			left: 320px;
			width: auto;
			z-index: 10;
			a {
				@include hover {
					padding-left: calc( #{gutter('large')} * 2 );
				}
			}
			

		}
	}
}

