.social-media-navigation {
	display: none;
}

@include medium {
	.social-media-navigation {
		display: flex;
		justify-content: flex-end;
		ul {
			display: flex;
			list-style: none;
			flex-direction: row;
			// justify-content: flex-end;
			margin: 0;
			padding-left: 0;
		}
		li {
			// padding: 0 0.5rem;
		}
		.icon-social-link [class^="icon-"]:before {
			width: 1.5em;
		}
	}
}