@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?97337684');
  src: url('../font/fontello.eot?97337684#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?97337684') format('woff2'),
       url('../font/fontello.woff?97337684') format('woff'),
       url('../font/fontello.ttf?97337684') format('truetype'),
       url('../font/fontello.svg?97337684#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6489931#fontello') format('svg');
  }
}
*/

@mixin icon-basic {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-before {
  @include icon-basic;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
    @include icon-before;
 }