
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-whatsapp:before { content: '\e802'; } /* '' */
.icon-left-open-thick:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-right-open-thick:before { content: '\e805'; } /* '' */
.icon-pinterest:before { content: '\e806'; } /* '' */
.icon-up-open-thick:before { content: '\e807'; } /* '' */
.icon-down-open-thick:before { content: '\e808'; } /* '' */
.icon-github:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */
.icon-facebook:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-location-1:before { content: '\e80f'; } /* '' */
.icon-linkedin:before { content: '\e810'; } /* '' */
.icon-close:before { content: '\e811'; } /* '' */
.icon-instagram:before { content: '\e812'; } /* '' */
.icon-flickr:before { content: '\e813'; } /* '' */
.icon-mro:before { content: '\e815'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */