@mixin animation-transition($duration:1s, $property:all) {
    -webkit-transition: $property $duration ease;
    -moz-transition: $property $duration ease;
    -o-transition: $property $duration ease;
    transition: $property $duration ease;
}

@mixin hover__circle-effect {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		display: block;
		content: '';
		width: 0;
		height: 0;
		background: rgba(255,255,255,.2);
		border-radius: 100%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	&:hover::before {
		-webkit-animation: circle .75s;
		animation: circle .75s;
	}
}

@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}