$medium-width: 640px;
$large-width: 960px;
$xlarge-width: 1290px;
$xxlarge-width: 1740px;

$medium-schedule-width: 530px;
$large-schedule-width: 1024px;
$profile-pic-outside-width: 1115px;

@mixin small-only {
  @media only screen and (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin medium-only {
  @media only screen and (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large-only {
  @media only screen and (min-width: #{$large-width}) and (max-width: #{$xlarge-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: #{$large-width}) {
    @content;
  }
}

@mixin xlarge {
  @media only screen and (min-width: #{$xlarge-width}) {
    @content;
  }
}

@mixin xlarge-only {
  @media only screen and (min-width: #{$xlarge-width}) and (max-width: #{$xxlarge-width - 1px}) {
    @content;
  }
}

@mixin xxlarge {
  @media only screen and (min-width: #{$xxlarge-width}) {
    @content;
  }
}

@mixin schedule-medium {
  @media only screen and (min-width: #{$medium-schedule-width}) {
    @content;
  }
}
@mixin schedule-large {
  @media only screen and (min-width: #{$large-schedule-width}) {
    @content;
  }
}

@mixin profile-pic-outside {
  @media only screen and (min-width: #{$profile-pic-outside-width}) {
    @content;
  }
}