@import "media-queries";

@import "typography-mixins";

@import "animation-mixins";



// Describe all psuedo state classes
@mixin hover {
	&:active, &:focus, &:hover {
		@content;
	}
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Reset our ul/ol lists
@mixin reset-list {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
}

@mixin hero-height {
	height: $hero-height;
	// max-height: $hero-max-height;
}

@mixin contain-column-width {
	max-width: $contain__max-width;
	margin: 0 auto;
}

@function rem-calc($size) {
  $remSize: calc($size / 16px);
  @return #{$remSize}rem;
}

//Border radius

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin schedule-separator {
	margin-left: 0.5rem;
	&:before {
		content: "•";
		padding-right: 0.5rem;
	}	
}

@mixin disabled-link-cursor {
	cursor: default;
}