// Rem output with px fallback
// @mixin font-size($sizeValue: 1) {
//  font-size: ($sizeValue * 16) * 1px;
//  font-size: $sizeValue * 1rem;
// }
//Replace _underscores' with
@mixin font-size($target-px-size) {
    $rem-size: calc($target-px-size / $font__base-size);
    font-size: calc($target-px-size * 1px);
    font-size: calc($rem-size * 1rem);
}
//Src https://stackoverflow.com/questions/35151624/underscores-font-size-mixin



@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin smaller-font {
  @include fluid-type($font__min_width, $font__max_width, $font__min_smaller_font, $font__max_smaller_font);
}

@mixin font-size__body {
  @include fluid-type($font__min_width, $font__max_width, $font__min_font, $font__max_font);
}

@mixin font-size__h1 {  
  font-size: $font__mod_1*$font__mod_1*$font__mod_1*$font__mod_1*$font__mod_1 *1rem; 
  @include fluid-type(
    $font__min_width, 
    $font__max_width, 
    $font__mod_1 * $font__mod_1 * $font__mod_1 * $font__mod_1 * $font__mod_1 * $font__min_font,
    $font__mod_3 * $font__mod_3 * $font__mod_3 * $font__mod_3 * $font__mod_3 * $font__min_font);
}
@mixin font-size__h2 {  
  font-size: $font__mod_1*$font__mod_1*$font__mod_1*$font__mod_1 *1rem; 
  @include fluid-type(
    $font__min_width, 
    $font__max_width, 
    $font__mod_1 * $font__mod_1 * $font__mod_1 * $font__mod_1 * $font__min_font, 
    $font__mod_2 * $font__mod_2 * $font__mod_2 * $font__mod_2 * $font__min_font
  );
}
@mixin font-size__h3 {  
  font-size: $font__mod_1*$font__mod_1*$font__mod_1 *1rem; 
  @include fluid-type(
    $font__min_width, 
    $font__max_width, 
    $font__mod_1 * $font__mod_1 * $font__mod_1 * $font__min_font, 
    $font__mod_2 * $font__mod_2 * $font__mod_2 * $font__min_font
  );
}
@mixin font-size__h4 { 
  font-size: $font__mod_1*$font__mod_1 *1rem;
  @include fluid-type(
    $font__min_width, 
    $font__max_width, 
    $font__mod_1 * $font__mod_1 * $font__min_font, 
    $font__mod_2 * $font__mod_2 * $font__min_font
  );
}

@mixin font-size__h5 { 
  font-size: $font__mod_1 *1rem;
  @include fluid-type(
    $font__min_width, 
    $font__max_width, 
    $font__mod_1 * $font__min_font, 
    $font__mod_2 * $font__min_font
  );
}
