.blog-header {
	padding: gutter('large') gutter('small') 0;
	.article-header {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		.date {
			margin-top: 0.5rem;
			margin-right: 1rem;
		}
		.tags-links {
			display: block;
		}
	}
}

@include large {
	.blog-header {
		@include contain-column-width;

		.article-header {
			.date {
				// margin-top: 0.75rem;
				margin-right: gutter('large');
			}
		}

		.entry-title,
		.page-title {
			&::after {
				margin-top: 1rem;
				left: calc(-1 * #{rem-calc(50px)});
				width: rem-calc(150px);
			}
		}
	}
}

@include xlarge {
	.blog-header {
		.entry-title,
		.page-title {
			// margin-right: 10rem;
		}
	}
}

@include xlarge {
	.blog-header {
		.entry-title,
		.page-title {
			// margin-right: 0;
		}
	}
}