.event-intro {
	padding: gutter('small');
	@include contain-column-width;
	margin-top: gutter('large');
}
.event-image {
	width: inherit;
	img {
		width: 100%;
		max-height: 400px;
		object-fit: cover;
	}
}
.event-summary {
	background: $color__background-panel;
	padding: gutter('small');
	margin-bottom: 0;
	p {
		margin-bottom: 0;
	}
	@include medium {
		padding: gutter('large');
	}
}
.event-details {
	background: color('orange', 'light');
	padding: gutter('small');

	[class^="event-"] {
		margin-bottom: gutter('small');
		&:last-child {
			margin-bottom: 0;
		}
	}
	p {
		margin: 0;
	}
	@include medium {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: gutter('large');
		@include smaller-font;
		
		[class^="event-"] {
			margin-right: 1rem;
			margin-bottom: 0;
		}
	}
}
.no-upcoming-dates {
	.fields {
		margin-left: -10px !important;
		margin-right: -10px !important; 
	}
}
.event-date {
	ul {
		@include reset-list;
	}
	li {
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.event-pricing {
	ul {
		@include reset-list;
	}
	li {
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.price-amount {
	font-weight: bold;
	display: block;
	font-size: 120%;
}