.hero-header {
	position: relative;
	overflow: hidden;

	body:not(.has-hero-image) & {
		background: rgb(0,38,154);
		background: linear-gradient(45deg, rgba(0,38,154,1) 0%, rgba(0,178,227,1) 46%, rgba(0,178,227,1) 58%, rgba(0,117,201,1) 100%); 
	}
}

.header-image {
	margin: 0;
	height: hero-height('small');
	background: color('black', 'base');

	img {
		height: inherit;
		object-fit:cover;
		width: 100%;
		opacity: .6;
	}
	@include large {
		height: hero-height('medium');
	}
}

.header-text {
	position: absolute;
	// background: #000;
	height: hero-height('small');
	top:0;
	width:100%;
	padding: gutter('small');

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	.entry-title,
	.page-title {
		max-width: $contain__max-width;
		margin: 0 auto;
	}

	@include large {
		height: hero-height('medium');
	}
}


.home {
	.hero-header {
		// height: auto;
		// max-height: none;
	}
	.header-image {
		height: hero-height('home-small');
	}
	.header-branding {
		// background: $color__background-body;
		padding: 0 gutter('small');
		height: map-get($hero-branding-height, 'small');
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header-logo {
		width: 225px;
		max-width: 225px;
		margin: 0 auto;
	}
	.header-text {
		top: map-get($hero-branding-height, 'small');
		height: hero-height('home-small');
	}

	@include medium {
		.header-image {
			height: hero-height('home-medium');
		}
		.header-branding {
			height: map-get($hero-branding-height, 'medium');
		}
		.header-logo {
			// margin-left: gutter('large');
			width: 33vw;
			min-width: 225px;
			max-width: 425px;
		}
		.header-text {
			top: map-get($hero-branding-height, 'medium');
			height: hero-height('home-medium');
		}
	}
	@include large {
		.header-branding {
			height: map-get($hero-branding-height, 'large');
		}
		.header-text {
			top: map-get($hero-branding-height, 'large');
		}
	}
}