body {
  background: $color__background-body;

  &.overflow-hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

.site-content {
  position: relative;
}

.site-header {
  background: $color__background-header;
  box-shadow: $element-shadow;

  padding: gutter("small");

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  // > div,
  // > nav {
  // 	border: 1px solid red;
  // 	flex: 1 1 auto;
  // }
}

.site-branding {
  flex: 0 0 auto;
  .site-logo {
    display: block;
    min-width: 40px;
  }
}

.site-navigation-container {
  flex: 1 1 auto;
}

.site-footer {
  background: $color__background-footer;
  padding: gutter("small");

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}
