$block-margin: gutter('large');

.content-area,
.page-summary,
.bio-summary,
.entry-content,
.comments-area {
	padding: gutter('large') gutter('small') gutter('small');
	.featured-image {
		margin-bottom: gutter('large');
	}
}

.blog-posts {
	.post {
		margin-bottom: calc( #{gutter('large')} * 2);
	}
	.entry-header {
		display: flex;
		flex-direction: row;
		margin-bottom: gutter('large');
		align-items: flex-start;
		.date {
			order: 0;
			margin-right: gutter('small');
			background-color: color('orange', 'light');
			padding: gutter('small') calc(#{gutter('small')} * 1.5);
		}
		.entry-info {
			order: 1;
		}
	}
}

.page-summary,
.bio-summary {
	margin-top: gutter('small');
}

.entry-footer {
	margin-top: gutter('large');
	padding-top: gutter('small');
	border-top: 1px solid color('gray', 'lightish');
	.tags-links,
	.comments-link,
	.edit-link {
		display: block;
	}
}

@include large {
	
	.content-area,
	.page-summary,
	.bio-summary,
	.entry-content,
	.comments-area {
		@include contain-column-width;
		padding-top: calc(#{gutter('large')} + #{gutter('small')});
	}
	.alignfull,
	.alignwide {
		margin: $block-margin calc(50% - 50vw);
		max-width: 100vw;
		width: 100vw;
	}
}

@include xlarge {
	.alignwide {
		margin: $block-margin calc( ( #{$contain__max-width} - #{$xlarge-width} ) / 2 );
		max-width: $xlarge-width;
		width: $xlarge-width;
	}
}

@include xxlarge {
	.alignwide {
		margin: $block-margin calc( ( #{$contain__max-width} - 1440px ) / 2 );
		max-width: 1440px;
		width: 1440px;
	}
}