.offcanvas-panel {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: $color__background-panel;
	backface-visibility: hidden;
	visibility: hidden;
	z-index: 10;
	overflow: scroll;

	transform: translateY(-100%);
	transition-property: transform;
	transition-duration: 0.4s;

    /* Force Hardware Acceleration in WebKit */
    // -webkit-transform: translate3d(0, 0, 0);
    // -moz-transform: translate3d(0, 0, 0);
    // -ms-transform: translate3d(0, 0, 0);
    // -o-transform: translate3d(0, 0, 0);
    // transform: translate3d(0, 0, 0);
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;

	&.is-open {
		// -webkit-transform: translate3d(0, 100%, 0);
		// -moz-transform: translate3d(0, 100%, 0);
		// -ms-transform: translate3d(0, 100%, 0);
		// -o-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 0%, 0);
	}
	&.is-visible {
		visibility: visible;
	}
}

#close-panel {
	
	display: inline-block;
	@extend h2;
	text-align: right;

	position: absolute;
	top: 0;
	right: 0;

	&:after {
		@include icon-before;
		content: '\e811';
	}
}

.panel-container {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	height: inherit;
	margin-top: gutter('large');
	> * {
		padding-left: gutter('large');
		padding-right: gutter('large');
	}
}