.single-person {
	.profile-image {
		margin-bottom: gutter('large');
	}
}

@include medium {
	.single-person {
		.profile-image {
			float: left;
			max-width: 50%;
			margin: gutter('small') 1.75rem 1rem 0;
		}
	}
}

@include profile-pic-outside {
	.single-person {
		.profile-image {
			margin-left: calc(-1 * #{rem-calc(50px)});
		}
	}
}