.simple-header {
	padding: gutter('large') gutter('small') 0;
	
	.entry-title,
	.page-title {
		&::after {
			content: "";
			height: 4px;
			display: block;
			position: relative;
			top: 0;
			margin-top: 1rem;
		    background-color: color('yellow', 'base');
		    width: rem-calc(124px);
			left: calc(-1 * #{gutter('small')});

		}
	}
}

@include large {
	.simple-header {
		@include contain-column-width;
		.entry-title,
		.page-title {
			&::after {
				margin-top: 1rem;
				left: calc(-1 * #{rem-calc(50px)});
				width: rem-calc(150px);
			}
		}
	}
}

@include xlarge {
	.simple-header {
		.entry-title,
		.page-title {
			margin-right: 10rem;
		}
	}
}

@include xlarge {
	.simple-header {
		.entry-title,
		.page-title {
			margin-right: 0;
		}
	}
}