.team {
  padding: gutter("large") gutter("small") gutter("small");
  @include contain-column-width;
}

.founders + .support-staff {
  padding-top: gutter("large");
}

.people {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .person {
    margin: calc(#{gutter("small")} / 2);
    flex-grow: 1;
    max-width: 350px;
    max-height: 60vh;
    min-width: 200px;
  }

  .single-event &,
  .single-therapy & {
    // flex-wrap: nowrap;
    margin-bottom: gutter("large");
    .person {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}

.card-bio {
  @include hover__circle-effect;
  // background: color('orange','base');
  display: flex;
  flex-direction: column;
}
.bio-name {
  background: color("orange", "base");
  color: $color__text-main;
  padding: gutter("small");
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@include medium {
  .people {
    .person {
      max-width: calc(50% - #{gutter("small")});
      max-height: none;

      &.support-staff {
        max-width: calc(33% - #{gutter("small")});
      }
    }
  }
}

@include large {
  .people {
    .person.support-staff {
      max-width: calc(25% - #{gutter("small")});
    }
  }
}
