.therapy-intro {
	position: relative;
	@include contain-column-width;
	// padding: gutter('small');
	margin: calc(#{gutter('large')} + #{gutter('small')}) gutter('small') gutter('small') gutter('small');
	background: color('black','base');

	@include large {
		margin: gutter('large') auto 0;
	}
}

.therapy-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 1;
	
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		opacity: 0.5;
	}
}

.therapy-summary {
	z-index: 2;
	position: relative;
	padding: calc(#{gutter('large')} * 1.5 ) gutter('small');
	p:last-child {
		margin:0;
	}
	@include large {
		padding: calc(#{gutter('large')} * 1.5 ) gutter('large');
	}
}