/*!
Theme Name: Satya 2019
Theme URI: http://underscores.me/
Author: Mat Rosero
Author URI: https://matilderosero.com/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: satya
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Satya 2019 is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

@use 'sass:math';
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
@import "icons/icons";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";
// @supports (display: grid) {
	// @import "navigation/navigation-grid";
// }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "utilities/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "utilities/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
// @import "utilities/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";
@supports (display: grid) {
	@import "site/site-grid";
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components/components";
@supports (display: grid) {
	@import "components/components-grid";
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "utilities/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# dev
--------------------------------------------------------------*/
// @import "dev/dev";

