@include medium {
	.site-content {
		border: 2px solid red;
	}
}

@include large {
	.site-content {
		border: 2px solid cyan;
	}
}

@include xlarge {
	.site-content {
		border: 2px solid magenta;
	}
}

@include xxlarge {
	.site-content {
		border: 2px solid lime;
	}
}