h1 {  
  @include font-size__h1;
}
h2 {  
  @include font-size__h2;
  .entry-content &,
  .comments-area & {
  	@include font-size__h3;
  }
}
h3 {  
  @include font-size__h3;
  .entry-content &,
  .comments-area & {
  	@include font-size__h4;
  }
}
h4 { 
  @include font-size__h4;
  .entry-content &,
  .comments-area & {
  	@include font-size__h5;
  }
}

h5 { 
  @include font-size__h5;
}
h6 {
	font-size: 1rem;
	@include font-size__body;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font__heading;
	font-weight: normal;
	line-height: $font__line-height-heading;

	&::after {
		// content: "";
		// height: 4px;
		// display: block;
		// position: relative;
		// top: 0;
		// margin-top: 30px;
	 //    background-color: color('yellow', 'base');

	 //    width: 124px;
		// left: -30px;

	}

	.header-text & {
		color: color('white','base');
	}

	.entry-content & {
		margin-top: 0;
	}
}

.page-title,
.entry-title {
	margin-top: 0;
	.banner & {
		@include font-size__h4;
		margin: 0;
	}
	.card-event & {
		font-family: $font__main;
		line-height: $font__line-height-body;
		@include font-size__body;
		margin:0;
	}
	.blog-posts & {
		@include font-size__h3;
		margin-bottom: 0;
	}

	.single-post & {
		@include font-size__h2;
		margin-bottom: 0.5rem;
	}

	@media only screen and (max-width: 460px) {
		hyphens: auto;
	}
}

.section-title {
	margin-top: 0;
	[class^="contact-"] & {
		// margin: 0;
		@include font-size__h5;
		@include xlarge {
			@include font-size__h4;
		}
	}
}

.comment-reply-title {
	margin-top: 0;
	padding-top: 0;
}

.widget-title {
	margin: 0;
	@include font-size__h5;
}

.schedule-weekday {
	@include font-size__h4;
}
.class-name {
	@include font-size__h5;
	font-family: $font__main;
	line-height: $font__line-height-body;
}

.meta-title {
	@include font-size__h5;
	font-family: $font__main;
	line-height: $font__line-height-body;
	margin: 0;
	font-weight: bold;
}

.rate-title {
	@include font-size__h4;
	font-family: $font__main;
	line-height: $font__line-height-body;
	margin: 0;
	.rate-amount {
		display: block;
		font-weight: bold;
		@include font-size__h3;
		// line-height: 1;
	}
}