.upcoming-classes,
.main-navigation,
.language-switcher-navigation,
.site-footer {
	@include smaller-font;
}


/*
 * Date
 */
.date {
	@include smaller-font;

	.day {
		@include font-size__h4;
		font-family: $font__heading;
	}

	.month {
		text-transform: uppercase;
	}

	.blog-header .article-header & {
		font-size: .9rem;
		background: color('orange','light');
		padding: 0.7rem 1rem;
		.day {
			@include font-size__h2;
		}
	}
}

.entry-meta {
	@include smaller-font;
}


.footer-info {
	p {
		margin: 0;
	}
}

[class$="-summary"] {
	@include font-size__h5;
	p:last-child {
		margin-bottom: 0;
	}
	@include medium {
		@include font-size__h4;
	}
}

// .class-schedule .class {
// 	line-height: 1.15;
// }

.toc-navigation {
	@include smaller-font;
}

.therapy-summary {
	color: color('white', 'base');
	text-align: center;
	.entry-meta {
		@include font-size__body;
	}
	@supports (display: grid) {
		@include large {
			text-align: left;
		}
	}
}

.panel-navigation {
	@include font-size__h4;
	.sub-menu {
		@include font-size__h5;
	}
}

.featured-text {
	@include font-size__h4;
	// @include xlarge {
	// 	@include font-size__h3;
	// }
}