html {
  @include fluid-type($font__min_width, $font__max_width, $font__min_font, $font__max_font);
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	// @include font-size(18);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

@import "specific-copy";
